* {
  text-decoration: none;
}

.Nav_Avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 100% 10;
}

.App {
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.NavTopics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #c02b58;
  font-weight: bold;
}

.NavTopics ul li {
  *display: inline-block;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

button,
.HomeButton {
  background: #c02b58;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

h3 {
  color: #c02b58;
}

.ArticleTitles {
  color: #c02b58;
}

.ArticleTopicComments {
}
